.metabnb-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 5rem 0 5rem;
    position: sticky;
}

.metabnb-navbar_link {
    display: flex;
    gap: 30px;
}

.metabnb-navbar_link a {
    color: #434343;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5625rem;
}

.metabnb-navbar_btn button {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border-style: none;
    font-family: 'Red Rose', cursive;
    font-weight: normal;
    outline: none;
}

.metabnb-navbar_menu {
    display: none;
}

/* animate css */
.slide-in-top{animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

@media screen and (min-width: 810px) and (max-width: 1180px) {
    .metabnb-navbar_img img {
        width: 150px;
        height: 30px;
    }

    .metabnb-navbar_link a {
        font-size: 0.9rem;
    }

    .metabnb-navbar_btn button {
        font-size: 0.9rem;
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (min-width: 810px) and (max-width: 912px) {
    .metabnb-navbar_link {
        gap: 20px;
    }

    .metabnb-navbar {
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 809px) {
    .metabnb-navbar {
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (max-width: 809px) {
    .metabnb-navbar_img img {
        width: 160px;
        height: 30px;
    }

    .metabnb-navbar_btn button {
        font-size: .9rem;
        padding: 15px 12px 15px 12px;
        border-radius: 5px;
        margin-left: 20vw;
    }

    .metabnb-navbar_menu {
        display: block;
        /* position: absolute;
        top: 10rem; */
        /* width: 100%; */
        margin: 0;
        padding: 0;
        left: 0;
        text-align: center;
    }

    .metabnb-navbar_link {
        display: none;
    }
}

@media screen and (max-width: 618px) {
    .metabnb-navbar {
        padding: 0 1rem 0 1rem;
    }
}

@media screen and (max-width: 490px) {
    /* .metabnb-navbar {
        display: inline;
    } */

    .metabnb-navbar_img img {
        width: 110px;
        height: 20px;
    }

    .metabnb-navbar_btn button {
        font-size: 0.7rem;
        padding: 10px 8px 10px 8px;
        border-radius: 5px;
        margin-left: 22vw;
    }

    .icon {
        color: white;
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 360px) {
    .metabnb-navbar_img img {
        width: 97px;
        height: 17px;
    }

    .metabnb-navbar_btn button {
        font-size: 0.6rem;
        padding: 10px 8px 10px 8px;
        border-radius: 5px;
        margin-left: 11vw;
    }
}

/* menu styling */
.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 50;
    bottom: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.menuNav.showMenu {
    width: 100%;
}

.metabnb-navbar_menu-link a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
    margin: 10px;
}

.br {
    position: absolute;
    bottom: 18vh;
    right: -0vw;
    z-index: 3;
}

.metabnb-navbar_menu-link {
    background-color: #a02279;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 15rem;
    overflow: hidden;
    z-index: 3;
}

.menuNav li:first-child {
    margin-top: 7rem;
}

.close {
    z-index: 4;
    position: absolute;
    right: 3rem;
}

.metabnb-navbar_cw {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -11%);
    background-color: rgba(96, 96, 96, 0.3);
    z-index: 990;
    width: 100vw;
    height: 110vh;
}

.metabnb-navbar_cw hr {
    border: 1px solid #cfd8dc;
}

.metabnb-navbar_cw-select {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 2px 5px grey;
}

.metabnb-navbar_cw-select-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.metabnb-navbar_cw-select-box1 h3 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #333333;
    margin: 0;
    margin-right: auto;
}

.metabnb-navbar_cw-select-box2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.metabnb-navbar_cw-select-box2 p {
    font-weight: 400;
    font-size: .9rem;
    line-height: 1rem;
    color: #333333;
    margin-top: 0;
}

.metabnb-navbar_cw-select-box2 button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Rose';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #333333;
    width: 25rem;
    height: 4rem;
    border-radius: 12px;
    border: none;
    margin: 4px;
}

.icon-mg {
    margin-left: auto;
    color: #959da6;
}

.metabnb-navbar_cw-select-box2 button img {
    margin-right: 1rem;
}

@media screen and (max-width: 700px) {
    .metabnb-navbar_cw-select-box1 h3 {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .metabnb-navbar_cw-select-box2 p {
        font-size: .7rem;
        line-height: .8rem;
    }

    .metabnb-navbar_cw-select-box2 button {
        font-size: .9rem;
        line-height: 1.1rem;
        width: 20rem;
        height: 3rem;
    }

    .metabnb-navbar_cw-select-box2 button img {
        margin-right: .8rem;
        width: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .metabnb-navbar_menu-link a {
        font-size: 1rem;
    }

    .metabnb-navbar_cw-select-box1 h3 {
        font-size: .8rem;
        line-height: 1rem;
    }

    .metabnb-navbar_cw-select-box2 p {
        font-size: .7rem;
        line-height: .8rem;
    }

    .metabnb-navbar_cw-select-box2 button {
        font-size: .7rem;
        line-height: 1rem;
        width: 15rem;
        height: 3rem;
    }

    .metabnb-navbar_cw-select-box2 button img {
        margin-right: .7rem;
        width: 1.2rem;
    }

    .metabnb-navbar_cw-select-box1 {
        padding: 10px;
    }

    .metabnb-navbar_cw-select-box2 {
        padding: 10px;
    }
}

@media screen and (max-width: 300px) {
    .metabnb-navbar_cw-select-box1 h3 {
        font-size: .7rem;
    }

    .metabnb-navbar_cw-select-box2 button {
        font-size: .7rem;
        line-height: 1rem;
        width: 12rem;
        height: 2.5rem;
    }

    .metabnb-navbar_cw-select-box1 {
        padding: 7px;
    }

    .metabnb-navbar_cw-select-box2 {
        padding: 7px;
    }
}